@mixin alignCenter {
  display: flex;
  align-items: center;
}

@mixin justifyBeetwen{
  display: flex;
  justify-content: space-between;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin column {
  display: flex;
  flex-direction: column;
}