//Creo le classi generali e classi che mi potrebbero servire più volte

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_mdg{
  width: 950px;
  margin: 0 auto;
}

ul{
  list-style: none;
  display: flex;
  li{
    a{
      text-decoration: none;
    }
  }
}

button{
  background-color: #f09a3f;
  border: none;
  padding: 9px 25px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

p{
  font-family: 'Roboto', sans-serif;
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

h3{
  color: #272a39;
  text-transform: uppercase;
  font-family: 'Roboto Slab', sans-serif;
}


p{
  margin: 20px 0;
  font-size: 12px;
  line-height: 25px;
  color: #94979f;
}